h1,h2,h3,h4,h5,h6{
    margin: 0;
}
h6, h4{
    color: gray;
    font-weight: 800;
    font-size: x-small;
}

.card {
    background-color: #fff;
    height: 250px;
    width : 200px;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    margin-left: 20px;
    cursor: pointer;
    float: left;
    margin-bottom: 10px;
    box-shadow: 2px 2px #bfbfbf;
    
}

.card:hover {
    transform: scale(1.01);
}
.card-photo{
    height: 160px;
    width: auto;
}
.card-extras{
    margin-left: 2%;
}

.big-container {
    background-color: '#sf00' !important;
}
.info-card{
    width: 200px;
    height: 100px;
    border-radius: 20px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: left;
    margin-right: 10px;
}
.info-card:hover{
    transform: scale(1.01);
    cursor: pointer;
}
.info-text{
    color: white;
}
.card-det{
    margin-left: 10px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 720px) {
    /* Styles */
    .card {
        background-color: #fff;
        height: 250px;
        width : 150px;
        border-radius: 5px;
        overflow: hidden;
        text-align: left;
        margin-left: 20px;
        cursor: pointer;
        float: left;
        margin-bottom: 10px;
        box-shadow: 2px 2px #968888;
        
    }
    .card-photo{
        height: 150px;
        width: auto;
    }
  
}

